{% load static from staticfiles %}
{% load course_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel = "Stylesheet" href = "{% static 'css/layout.css' %}" type = "text/css" />
    {% block static %}
    {% endblock static %}
</head>
<body>
    <div class = "site-container" >
        <nav>
            <a href = "{% url 'home' %}"> Ademy </a>
            <a href = "{% url 'courses:list' %}"> Cursos </a>
        </nav>
        <p>No te pierdas nuestro ultimo curso: {% last_course %}</p>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>